services:
    dev:
        build:
            context: ..
            dockerfile: Dockerfile
            target: dev
        environment:
            XDEBUG_SESSION: "1"
        volumes:
            - ${PWD}:/workspace
        command: tail -f /dev/null
